#ifndef LIBSNOWFLAKEID_VERSION_H
# define LIBSNOWFLAKEID_VERSION_H
# define LIBSNOWFLAKEID_VERSION_STRING  "${LIBSNOWFLAKEID_VERSION_STRING}"
# define LIBSNOWFLAKEID_VERSION_NUMBER  ${LIBSNOWFLAKEID_VERSION_NUMBER}

#endif //LIBSNOWFLAKEID_VERSION_H
